<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= username %></p>
    <h2>Fruit info</h2>
    <% fruits.forEach( (fruit) => { %>
      <p><%= fruit.name %> costs $<%= fruit.price %></p>
    <% }) %>

    <%- include('partials/footer') %>
  </body>
</html>
